<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="src/styles/main.css">
    <title>Typescript</title>
  </head>
  <body>
    <h2>Fight</h2>
    <div id="fighter" class="section">
      <h3>Fighter</h3>
      <input id="fighter-name" type="text" placeholder="Fighter Name">
      <input id="fighter-health" type="number" min="5" placeholder="Fighter Health">
      <input id="fighter-power" type="number" min="1" placeholder="Fighter Power">
    </div>
    <div id="improved-fighter" class="section">
      <h3>Improved fighter</h3>
      <input id="improved-fighter-name" type="text" placeholder="Improved Fighter Name">
      <input id="improved-fighter-health" type="number" min="5" placeholder="Improved Fighter Health">
      <input id="improved-fighter-power" type="number" min="1" placeholder="Improved Fighter Power">
    </div>
    <button id='start-btn' class="section">Start</button><button id='reset-btn' class="section">Reset</button>
    <ul id="messages">

    </ul>
  </body>
</html>